
.main{
    width: 432px;
    height: 526px;
	/* background: red; */
	overflow: hidden;
	/* background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover; */
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    /* box-shadow: 0px 8px 20px #000; */
    border: solid 2px #cda45e;
}
#chk{
	display: none;
}
.signup{
	/* position: relative; */
	width:100%;
	height: 100%;
    transform: translateY(-49px);
}
label{
	color: #cda45e;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
    width: 67%;
    height: 43px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
    
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	/* background: #573b8a; */
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	/* border: none;
	border-radius: 5px; */
	transition: .2s ease-in;
	cursor: pointer;
    color: #CDA47C;
    border: 2px solid #cda45e;
}
button:hover{
	/* background: #6d44b8; */
    background: #cda45e;
    color: #fff;
}
.login{
    height: 488px;
	background: #EFC;;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #cda45e;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-573px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
.Custom_style{
    display: flex;
    justify-content: center;
    padding: 20vh 0px 25vh;
    height: 100vh;
}
@media screen and (max-width: 1000px)  {
    .imge{
        display: none !important;
    }
    .main{
        border-radius: 16px !important;
    }
}
.Image_style{
    height: 98.3%;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}
.Main_content{
background-color: #F1F1F1;
}
