<div class="Main_content">
  <div class="container Custom_style">
    <!-- <div class="imge" style="width: 31%;">
      <img class="Image_style" src="../../../../assets/Images/1.jpg">
    </div> -->
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true">

      <div class="signup">
        <form [formGroup]="loginForm">
          <label for="chk" aria-hidden="true">Login</label>
          <input formControlName="email"
            [ngClass]="{'is-invalid': loginForm.get('email').errors && loginForm.get('email').touched}" type="email"
            name="email" placeholder="Email" required>
          <input formControlName="password"
            [ngClass]="{'is-invalid': loginForm.get('password').errors && loginForm.get('password').touched}"
            type="password" name="pswd" placeholder="Password" required>
          <button (click)="Login()">Login</button>
        </form>
      </div>
      <div class="login">
        <form [formGroup]="registerForm" (ngSubmit)="Register()">
          <label for="chk" aria-hidden="true">Sign up</label>
          <input formControlName="firstname"
            [ngClass]="{'is-invalid': registerForm.get('firstname').errors && registerForm.get('firstname').touched}"
            type="text" name="txt" placeholder="First Name" required="">
          <input formControlName="lastname"
            [ngClass]="{'is-invalid': registerForm.get('lastname').errors && registerForm.get('lastname').touched}"
            type="text" name="txt" placeholder="Last Name" required="">
          <input formControlName="email"
            [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
            type="email" name="email" placeholder="Email" required="">
          <input formControlName="password"
            [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
            type="password" name="pswd" placeholder="Password" required="">
          <button>Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>
