.hero2{
    width: 100%;
    height: 96vh;
    position: relative;
    padding: 0;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.ngModelStyle{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}