<app-breadcrumbs title="Countries" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="row">
    <div class="col-lg-12">
        <div class="card" id="orderList">
            <div class="card-header  border-0">
                <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0 flex-grow-1">Press</h5>
                    <div class="flex-shrink-0 hstack gap-2">
                        <button (click)="create()" type="button" class="btn btn-success add-btn" data-bs-toggle="modal"
                            id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i>
                            Create</button>
                        <!-- <button type="button" class="btn btn-info"><i
                                class="ri-file-download-line align-bottom me-1"></i>
                            Export</button> -->
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 mt-3">
                <div class="col-xxl col-3" *ngFor="let item of data">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4 class="card-title mb-0">{{item.title}}</h4>
                        </div>
                        <img class="img-fluid" default-image src="{{item.attachmentPath}}" alt="Card image cap" />
                        <div class="card-body">
                            <p class="card-text">
                                {{item.description}}
                            </p>
                            <br>
                            <a *ngIf="item.hyperLink != null" href="{{item.hyperLink}}">HyperLink</a>
                        </div>
                        <div class="card-footer">
                            <p class="card-text">
                                <small class="text-muted">{{item.createdDate}}</small>
                            </p>
                        </div>
                    </div>
                </div>
                <app-pagination (pageChange)="pageChange($event)" [pageNumber]="form.getRawValue().pageNumber"
                    [pageSize]="form.getRawValue().pageSize" [total]="total"></app-pagination>
            </div>
        </div>
    </div>
</div>