<!-- Start Breadcrumbs -->
<app-breadcrumbs title="User List" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <div class="card" id="orderList">
      <div class="card-header  border-0">
        <div class="d-flex align-items-center">
          <h5 class="card-title mb-0 flex-grow-1">Manage Users</h5>
          <div class="flex-shrink-0 hstack gap-2">
            <button (click)="createUser()" type="button" class="btn btn-success add-btn" data-bs-toggle="modal"
              id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i>
              Create User</button>
            <button type="button" class="btn btn-info"><i class="ri-file-download-line align-bottom me-1"></i>
              Export</button>
          </div>
        </div>
      </div>
      <div class="card-body border border-dashed border-end-0 border-start-0">

        <form [formGroup]="form">
          <div class="row g-3">
            <div class="col-xxl-5 col-sm-6">
              <div class="search-box">
                <input type="text" class="form-control" formControlName="name" placeholder="Search for name ...">
                <i class="ri-search-line search-icon"></i>
              </div>
            </div>
            <div class="col-xxl-2 col-sm-4">
              <div>
                <select class="form-control" data-choices data-choices-search-false name="choices-single-default"
                  id="idStatus" formControlName="isActive">
                  <option value="" hidden selected>Status</option>
                  <option value="">All</option>
                  <option [value]="true">Activate</option>
                  <option [value]="false">Inactive</option>
                </select>
              </div>
            </div>
            <div class="col-xxl-2 col-sm-4" *ngIf="nav.activeId == 2">
              <div>
                <select class="form-control" data-choices data-choices-search-false name="choices-single-default"
                  id="idStatus" formControlName="isVerified">
                  <option value="" hidden selected>Verification</option>
                  <option value="">All</option>
                  <option [value]="true">Verify</option>
                  <option [value]="false">Unverified</option>
                </select>
              </div>
            </div>
          </div>
        </form>
        <!--end row-->

      </div>
      <div class="card-body pt-0">
        <div>
          <!-- Nav tabs -->
          <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-custom nav-success mb-3">
            <li [ngbNavItem]="1">
              <a ngbNavLink>
                <i class="ri-user-settings-line me-1 align-bottom"></i> All Users
              </a>
              <ng-template ngbNavContent *ngIf="nav.activeId == 1">
                <all-users [filters]="form"></all-users>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>
                <i class="ri-user-star-fill me-1 align-bottom"></i> Vendors
              </a>
              <ng-template ngbNavContent *ngIf="nav.activeId == 2">
                <vendors-list [filters]="form"> </vendors-list>
              </ng-template>

            </li>
            <li [ngbNavItem]="4">
              <a ngbNavLink>
                <i class="ri-user-received-2-fill me-1 align-bottom"></i> Commitee Members
              </a>
              <ng-template ngbNavContent *ngIf="nav.activeId == 4">
                <commitee-members-list [filters]="form"></commitee-members-list>
              </ng-template>

            </li>
            <li [ngbNavItem]="5">
              <a ngbNavLink>
                <i class="ri-shield-user-fill me-1 align-bottom"></i> Local Admins
              </a>
              <ng-template ngbNavContent *ngIf="nav.activeId == 5">
                <local-admin-list [filters]="form"></local-admin-list>
              </ng-template>
            </li>
          </ul>
          <div class="tab-content text-muted">
            <div [ngbNavOutlet]="nav"></div>
          </div>
        </div>
      </div>
    </div>
  </div>