<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Menu" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-12">
        <div class="d-flex align-items-center">
            <h5 class="card-title mb-0 flex-grow-1"></h5>
            <div class="flex-shrink-0 hstack gap-2">
                <button [routerLink]="['/business/manu/create']" type="button" class="btn btn-success add-btn"
                    data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i
                        class="ri-add-line align-bottom me-1"></i>
                    Create</button>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="subCategories?.length > 0 ">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <ul class="list-inline categories-filter animation-nav" id="filter">

                            <li class="list-inline-item"><a class="categories" data-filter=".development"
                                    (click)="onCategoryChange(null)"
                                    [ngClass]="{'active': form.controls['categoryId'].value === null }">All</a>
                            </li>
                            <li *ngFor="let item of categories" class="list-inline-item"><a class="categories"
                                    data-filter=".development" (click)="onCategoryChange(item.id)"
                                    [ngClass]="{'active': item.id === form.controls['categoryId'].value}">{{item.name|
                                    humanize}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row mb-3 pb-1" *ngIf="form.controls['categoryId'].value != null">
                        <div class="col-12">
                            <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                <div class="flex-grow-1">
                                    <h4 class="fs-16 mb-1">{{categoryDetails?.workDayes}}</h4>
                                    <p class="text-muted mb-0">{{categoryDetails?.description}}.</p>
                                </div>
                                <div class="mt-3 mt-lg-0">
                                    <form action="javascript:void(0);">
                                        <div class="row g-3 mb-0 align-items-center">
                                            <div class="col-sm-auto">

                                            </div>
                                            <!--end col-->
                                            <div class="col-auto">
                                                <button type="button" container="body" [ngbTooltip]="'Add New Meal'"
                                                    (click)="UpdeteSubcategory()"
                                                    class="btn btn-soft-info btn-icon waves-effect waves-light layout-rightside-btn"><i
                                                        class="ri-add-circle-line"></i></button>
                                            </div>
                                            <div class="col-auto">
                                                <button type="button" container="body" [ngbTooltip]="'Update Category'"
                                                    (click)="UpdeteCategory()"
                                                    class="btn btn-soft-info btn-icon waves-effect waves-light layout-rightside-btn"><i
                                                        class="ri-edit-box-line"></i></button>
                                            </div>
                                            <div class="col-auto">
                                                <button type="button" container="body" [ngbTooltip]="'Download PDF'"
                                                    (click)="downloadPdf()"
                                                    class="btn btn-soft-info btn-icon waves-effect waves-light layout-rightside-btn"><i
                                                        class="ri-arrow-down-line"></i></button>
                                            </div>
                                            <div class="col-auto">
                                                <button type="button" container="body" [ngbTooltip]="'Delete Category'"
                                                    class="btn btn-soft-danger btn-icon waves-effect waves-light layout-rightside-btn"><i
                                                        class=" ri-delete-bin-2-line"></i></button>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </form>
                                </div>
                            </div><!-- end card header -->
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                    <div class="row gallery-wrapper">
                        <div class="element-item  project designing development" data-category="designing development">
                            <div class="card-body pt-0 mt-3">
                                <div class="row">
                                    <div class="col-4 col-sm-6" *ngFor="let subCategory of subCategories;let i=index">
                                        <menu-subcategories [subcategory]="subCategory"></menu-subcategories>


                                    </div>
                                    <!--end card-->
                                </div>
                            </div>
                            <div class="">
                                <app-pagination (pageChange)="pageChange($event)"
                                    [pageNumber]="form.getRawValue().pageNumber"
                                    [pageSize]="form.getRawValue().pageSize" [total]="total"></app-pagination>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end row -->
        </div>
    </div>
</div>

<div *ngIf="subCategories?.length ==0">
    <div class="text-center my-3">
        <img alt="" class="un-draw" width="260px" src="assets/images/no-data.svg">
        <h5 class="py-3 text-muted">There is no manus to show</h5>
    </div>
</div>