<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10" style="padding: 0% !important;margin: auto;">
        <form [formGroup]="form">
            <mat-horizontal-stepper [linear]="true" #horizontalStepper>
                <mat-step #horizontalStepperStep1>
                    <ng-template matStepLabel>Create New Manu Category</ng-template>
                    <div class="step-body">
                        <create-category [form]="form"></create-category>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary add-btn" data-bs-toggle="modal" id="create-btn" type="button"
                            matStepperNext>
                            Next
                        </button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Add Meals into {{form.controls['name'].value}}</ng-template>

                    <div class="step-body">
                        <create-subcategory [form]="form"></create-subcategory>
                    </div>

                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Summary</ng-template>
                    <div class="text-center pt-4 pb-2">

                        <div class="mb-4">
                            <lord-icon src="https://cdn.lordicon.com/lupuorrc.json" trigger="loop"
                                colors="primary:#0ab39c,secondary:#405189" style="width:120px;height:120px"></lord-icon>
                        </div>
                        <h5>Your Order is Completed !</h5>

                        <button type="button" (click)="createNew()" [disabled]="form.invalid" style="margin-left: 12px;"
                            class="btn btn-primary add-btn" matStepperNext>Creat New
                        </button>
                    </div>


                </mat-step>
            </mat-horizontal-stepper>

        </form>


    </div>

</div>