<section style="background-color:#EFC;;">
  <div  *ngFor="let x of data;let i=index">
    <div *ngIf="i%2==0" class="row card_specifc" >
      <div class="col-lg-6 col-md-12 col-sm-12 p-0">
        <img [src]="x.imageUrl">
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h2>{{x.name}}</h2>
      <p>{{x.desciption}}</p>
      </div>
    </div>
    <div *ngIf="i%2!=0" class="row card_specifc">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h2>{{x.name}}</h2>
      <p>{{x.desciption}}</p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 p-0">
        <img [src]="x.imageUrl">
      </div>
    </div>
  </div>
</section>

