<!-- Order Create Model -->
<ng-container #content role="document">
    <div class="modal-header bg-light p-3">
        <h5 class="modal-title" id="addModal"> New Press</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modalService.close()"></button>
    </div>
    <form (ngSubmit)="submit()" [formGroup]="form">
        <div class="modal-body">
            <div class="row gy-4 mb-3">
                <div class="col-md-6 form-group">
                    <label for="amount-field" class="form-label">Title<small style="color : rgb(179, 62, 62);">
                            *</small></label>
                    <input [ngClass]="{ 'is-invalid': isInvalid('title') }" type="text" id="customername-field"
                        class="form-control" placeholder="Title" formControlName="title" />
                    <arv-validation-messages for="title">
                    </arv-validation-messages>
                </div>
                <div class="col-md-6 form-group">
                    <label for="Last-field" class="form-label">Hyper Link<small style="color : rgb(179, 62, 62);">
                            *</small>
                    </label>
                    <input [ngClass]="{ 'is-invalid': isInvalid('hyperLink') }" type="text" id="customername-field"
                        class="form-control" placeholder="Hyper Link" formControlName="hyperLink" />
                </div>

                <div class="col-md-12 form-group">
                    <label for="description-field" class="form-label">Description<small
                            style="color : rgb(179, 62, 62);">
                            *</small>
                    </label>
                    <textarea [ngClass]="{ 'is-invalid': isInvalid('description') }" type="text" id="description-field"
                        class="form-control" placeholder="Enter description" formControlName="description"></textarea>
                    <arv-validation-messages for="description">
                    </arv-validation-messages>
                </div>
                <div class="mb-3 form-group">
                    <label class="form-label">Upload Image <small style="color : rgb(179, 62, 62);">
                            *</small></label>
                    <input class="form-control" [ngClass]="{'is-invalid': isInvalid('image')}" id="image"
                        formControlName="image" type="file" (change)="onChange($event)" />
                    <arv-validation-messages for="image"></arv-validation-messages>

                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="modalService.close()">Close
                </button>

                <button [disabled]="form.invalid" type="submit" class="btn btn-success" id="add-btn">Add Press
                </button>

            </div>
        </div>
    </form>
</ng-container>
<!--End Modal -->