/* You can add global styles to this file, and also import other style files */
@import "./assets/css/style.css";
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.page-link.active, .active > .page-link{
  background-color: #CDA45E !important;
  border-color: #CDA45E !important;
}
@font-face
{
	font-family: 'Edward';
    src: url(assets/fonts/edwardian_script_itc.ttf),
	        url(assets/fonts/edwardian_script_itc.otf) format('opentype');
}

