<div  *ngIf="Gallery?.length > 0 && data?.length>0 && WhyUsData?.length>0 ;else emptyTemp">

<section id="hero" >
  <!-- <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100"> -->
    <!-- <div class="row"> -->
      <ngb-carousel >
        <ng-template ngbSlide *ngFor="let item of data">
          <div class="picsum-img-wrapper">
            <img [src]="item.imageUrl" alt="Angular Carousel 1">
          </div>
          <div class="carousel-caption">
            <h3>{{item.imageName}}</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
          </div>
        </ng-template>
      </ngb-carousel>
    <!-- </div> -->
  <!-- </div> -->
</section>
<section style="padding:30px 0px;background-color: #EFC;">
  <div class="d-flex justify-content-center">
    <h5 style="width: 67%; text-align: center;">
      Welcome to <span style="color: #cda45e;">Adobe</span> Table, we are a globally-inspired eatery,where we share our passion for exploring the world through food and drink, by serving modern versions of hand-selected dishes from around the world. 
    </h5>
  </div>
</section>

<section id="why-us" class="why-us" style="background-color: #EFC;">
  <div class="container" data-aos="fade-up">

      <div class="section-title">
          <h2>Why Us</h2>
          <p>Why Choose Our Restaurant</p>
      </div>

      <div class="row">
          <div class="col-lg-4 mt-4 mt-lg-0" *ngFor="let item of WhyUsData;let i=index;">
              <div class="box" data-aos="zoom-in" data-aos-delay="200">
                  <span>{{"0"+(i+1)}} </span>
                  <h4>{{item.quetion}}</h4>
                  <p>{{item.answer}}</p>
              </div>
          </div>
      </div>
  </div>
</section>


        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
          <div class="container" data-aos="fade-up">
              <div class="section-title">
                  <h2>Gallery</h2>
                  <p>Some photos from Our Restaurant</p>
              </div>
          </div>
          <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
              <div class="row g-0">
                  <div class="col-lg-3 col-md-4" *ngFor="let item of Gallery">
                      <div class="gallery-item" style="height: 100%;">
                          <a [href]="item.imageUrl" class="gallery-lightbox" data-gall="gallery-item">
                              <img [src]="item.imageUrl" alt="" class="img-fluid" style="height:100%">
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      </div>

      <!-- End Gallery Section -->
    <ng-template #emptyTemp>
        <div class="text-center my-3" style="height:80vh;">
            <img alt="" class="un-draw" style="    padding-top: 18%;" width="260px" src="assets/images/no-data.svg">
            <h5 class="py-3 text-muted">There is no data to show</h5>
        </div>
    </ng-template>

