<div class="row">
    <div class="col-9">

        <div class="alert alert-light alert-dismissible alert-solid alert-label-icon fade show" role="alert">
            <i class="ri-information-line label-icon"></i><strong>Hint </strong> - This images will show in Private
            Dining Page
            for User.

        </div>

    </div>
    <div class="col-3">
        <div class="d-flex justify-content-end">

            <button (click)="create()" type="button" class="btn btn-success add-btn" data-bs-toggle="modal"
                id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i>
                Create</button>
        </div>
    </div>
</div>

<div class="row" *ngIf="images?.length > 0 ;else emptyTemp">
    <div class="col-lg-12">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row gallery-wrapper">
                        <div class="element-item col-xxl-3 col-xl-4 col-sm-6 project designing development"
                            data-category="designing development" *ngFor="let data of images;let i=index">
                            <div class="gallery-box card">
                                <div class="gallery-container">
                                    <a class="image-popup" title="">
                                        <img class="gallery-img img-fluid mx-auto" default-image
                                            src="{{data.attachmentPath}}" alt="" />
                                    </a>
                                </div>
                                <div class="box-content">
                                    <div class="d-flex align-items-center mt-1">
                                        <div class="flex-grow-1 text-muted"> <a href="javascript:void(0);"
                                                class="text-body text-truncate">{{data.createdOn | date}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <app-pagination (pageChange)="pageChange($event)" [pageNumber]="form.getRawValue().pageNumber"
                        [pageSize]="form.getRawValue().pageSize" [total]="total"></app-pagination>
                </div>
            </div>
            <!-- end row -->
            <!-- ene card body -->
        </div>
        <!-- end card -->
    </div>
</div>
<ng-template #emptyTemp>
    <div class="text-center my-3">
        <img alt="" class="un-draw" width="260px" src="assets/images/no-data.svg">
        <h5 class="py-3 text-muted">There is no images to show</h5>
    </div>
</ng-template>