<form [formGroup]="updatePasswordForm" (submit)="onPasswordSubmit()">
  <div class="row g-2">
    <div class="col-lg-4">
      <div>
        <label for="oldpasswordInput" class="form-label">Old Password<span class="text-danger">*</span></label>
        <input type="password" [ngClass]="{'is-invalid': isInvalid('currentPassword')}"
               class="form-control" formControlName="currentPassword"
               id="oldpasswordInput" placeholder="Enter current password">
      </div>
    </div><!--end col-->
    <div class="col-lg-4">
      <div>
        <label for="newpasswordInput" class="form-label">New Password<span class="text-danger">*</span></label>
        <input type="password" [ngClass]="{'is-invalid': isInvalid('newPassword')}"
               class="form-control" formControlName="newPassword"
               id="newpasswordInput" placeholder="Enter new password">
      </div>
    </div><!--end col-->
    <div class="col-lg-4">
      <div>
        <label for="confirmpasswordInput" class="form-label">Confirm Password<span class="text-danger">*</span></label>
        <input type="password" [ngClass]="{'is-invalid': isInvalid('confirmPassword')}"
               class="form-control" formControlName="confirmPassword"
               id="confirmpasswordInput" placeholder="Confirm password">
      </div>
    </div><!--end col-->
    <div class="col-lg-12">
      <div class="mb-3">
        <a href="/auth/forgot-password" class="link-primary text-decoration-underline">Forgot Password ?</a>
      </div>
    </div><!--end col-->
    <div class="col-lg-12">
      <div class="text-end">
        <button [disabled]="updatePasswordForm.invalid" type="submit" class="btn btn-success">Change Password</button>
      </div>
    </div><!--end col-->
  </div><!--end row-->
</form>
